:root {
    --clr-primary1: #292929;
    --clr-primary2: #58c93a;
    --clr-primary3: #c2c2c2;
    --clr-primary4: #e0e0e0;
    --clr-primaryBase: #606060;
    --clr-primary-1: #1d1d1d;
    --clr-head: #ffffff;



    --layoutpadding: 20px;
}